@import "_highlight";

$font-serif: "Times New Roman", Times, serif;
$font-sans: "Helvetica Neue", Helvetica, "Raleway", "Roboto", sans-serif;
$font-mono-inline: "VT323", monospace;
$font-mono-block: "Fira Code", monospace;

$light-grey: #e8e8e8;
$grey: #828282;
$black: #333333;

body {
  color: $black;
  font-family: $font-serif;
  line-height: 1.4;

  a {
    color: unset;

    &:hover {
      color: $grey;
    }
  }

  time {
    font-family: $font-sans;
    font-size: small;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    font-family: $font-sans;
  }

  code {
    font-family: $font-mono-inline;
  }

  pre {
    font-size: small;
    border: 1px solid $light-grey;
    border-radius: 3px;
    padding: 1em;
    white-space: pre-wrap; // https://css-tricks.com/snippets/css/make-pre-text-wrap/

    code {
      font-size: small;
      font-family: $font-mono-block;
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
