@import "_highlight";

// code {
//   font-family: "Fira Code", monospace;
//   padding: 1px 5px;
// }

// Code blocks
pre {
  // font-size: small;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    font-size: small;
    font-family: "FiraCode", monospace !important;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/*
Custom Site Styles
*/

// $grey-color: #828282;
// $maxWidth: 900px;

$font-serif: Georgia, serif;
$font-sans: "Roboto", sans-serif;
$font-mono: "VT323", monospace;

body {
  line-height: 1.4em;
  font-family: $font-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-sans;
  }
  code {
    font-family: $font-mono;
  }
}
